# From Banglish word original Bangla word finding
### This is a project for our course: "Project Management".


#### Group Members:

- Khalid Mahmud
- Antora Ghosh

In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

##Load the Data file.

In [2]:
b2b = pd.read_csv("./data/ben2bn.csv")
bG = pd.read_csv("./data/banGenerator.csv")

##Viewing the first 10 row of csv file

In [4]:
bG.head(10)

  Banglish Bangla Second
0        a      অ    NaN
1       aa      আ    NaN
2        i      ই    NaN
3       ii      ঈ    NaN
4        u      উ    NaN
5       oo      ঊ    NaN
6       ri      ঋ    NaN
7        e      এ    NaN
8       ei      ঐ    NaN
9        o      ও    NaN

## Get input from user:

In [5]:
getTestInBanglish = input("Please enter a string:\n")

Please enter a string:
ang

In [6]:
print(f'You entered: {getTestInBanglish}')

You entered: ang

### Check and matching input text with database data.

In [7]:
if(getTestInBanglish=='amar'):
    print(getTestInBanglish)