# From Banglish word original Bangla word finding
### This is a project for our course: "Project Management".


#### Group Members:

- Khalid Mahmud
- Antora Ghosh

In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

##Load the Data file.

In [2]:
df = pd.read_csv("./data/ben2bn.csv")

##Viewing the first 10 row of csv file

In [3]:
df.head(10)

  Banglish  Bangla
0     amar    আমার
1     name     নাম
2   khalid   খালিদ
3      ami     আমি
4     valo    ভালো
5     achi     আছি
6   antora  অন্তরা
7      nei     নেই

## Get input from user:

In [1]:
getTestInBanglish = input("Please enter a string:\n")

Please enter a string:
amar

In [3]:
print(f'You entered: {getTestInBanglish}')

You entered: amar

### Check and matching input text with database data.

In [4]:
if(getTestInBanglish=='amar'):
    print(getTestInBanglish)

SyntaxError: invalid syntax (Temp/ipykernel_13896/1360061421.py, line 1)